:root {
    --gray-200: #f5f5f5;
    --gray-400: #d9d9d9;
    --gray-500: #bfbfbf;
    --gray-600: #8c8c8c;
    --purple-400: #6b31ff;
    --purple-500: #50f;
    --purple-800: #210070;
    --purple-800: #210070;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
}

body {
    background-color: var(--gray-200) !important;
    font-family: 'Poppins', sans-serif;
}

header {
    background: #fff;
    padding: 2rem 0 4rem;
    text-align: center;
}

header>h1 {
    font-weight: normal;
    color: var(--gray-600);
}

h3 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    margin-left: 3rem;
    bottom: 3rem;
    font-weight: normal;
    color: var(--purple-500);
    
}

table {
    width: 100%;
    margin-bottom: 0.5rem;
    table-layout: fixed;
    text-align: center;
}

table thead tr th:first-child, 
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child, 
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
    background: white;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: center;
    color: var(--gray-600);
}

table tbody tr {
    opacity: 0.7s;
}

table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background: white;
    padding: 1rem 2rem;
    
}

.searchs {
    position: absolute;
    left: 35.2rem;
    margin: 2%; 
}